@keyframes portal {0% { transform: rotate(0); } 100% { transform: rotate(360deg);} }
@keyframes portal-fade {0% { opacity: 1; } 100% { opacity: 0;} }
@keyframes portal-pulsacion {0% { transform: scale(1); } 50% { transform: scale(1.1); } 100% { transform: scale(1);} }
@keyframes portal-rebote {from { transform: scale(1); transform-origin: center center; animation-timing-function: ease-out; } 10% { transform: scale(0.91); animation-timing-function: ease-in; } 17% { transform: scale(0.98); animation-timing-function: ease-out; } 33% { transform: scale(0.87); animation-timing-function: ease-in; } 45% { transform: scale(1); animation-timing-function: ease-out;} }

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron-Bold';
    src: url('../fonts/Orbitron-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Orbitron-Black';
    src: url('../fonts/Orbitron-Black.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'RussoOne';
    src: url('../fonts/RussoOne-Regular.ttf') format('truetype');
    font-style: normal;
}

body {
    background: rgb(46,177,198);
    background: -moz-linear-gradient(90deg, rgba(46,177,198,1) 0%, rgba(255,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(46,177,198,1) 0%, rgba(255,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(46,177,198,1) 0%, rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2eb1c6",endColorstr="#ff0000",GradientType=1);
}

.menu-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    border: 10px solid black;
    background: rgb(21,16,109);
    background: -moz-linear-gradient(90deg, rgba(21,16,109,1) 12%, rgba(117,225,238,1) 46%, rgba(46,177,198,1) 72%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(21,16,109,1) 12%, rgba(117,225,238,1) 46%, rgba(46,177,198,1) 72%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(21,16,109,1) 12%, rgba(117,225,238,1) 46%, rgba(46,177,198,1) 72%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15106d",endColorstr="#00d4ff",GradientType=1);
}

.reloj-temporal {
    text-align: center;
    font-family: 'Orbitron-Black',sans-serif;
}

.menu-personalizacion {
    display: none;
    position: absolute;
    max-width: 200px;
    margin: 100px 0 10px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 3px solid #15106d;
    right: 2%;
    top: 2%;
}

.menu-personalizacion form, button {
    font-family: 'Orbitron',sans-serif;
}

#boton-guardar-personalizacion {
    margin: 1%;
    width: 100%;
}

.botones-configuracion {
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.boton-image {
    margin: 0.5%;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.boton-image:hover {
    transform: scale(1.1);
}

.boton-image img {
    width: 6em;
    height: 6em;
}

#boton-viajar-portal, #boton-cerrar-portal {
    width: 30%;
    height: 15%;
}

#boton-oculto {
    opacity: 0;
}

.area-portales {
    display: flex;
    flex-wrap: wrap;
}

.portal {
    border-radius: 90%;
    height: 7em;
    width: 7em;
    margin: 2em 1.2em;
    animation: portal 1s ease 0s 1 normal none;
    transition: width 0.3s ease, height 0.3s ease;
    border: 5px solid white;
}

.portal:hover {
    opacity: 0.5;
}

.panel-viajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    border: 10px solid black;
}

#titulo-portal {
    font-family: 'RussoOne',sans-serif;
}

#fecha-portal {
    font-family: 'Orbitron-Bold',sans-serif;
}

textarea {
    resize: none;
    border: 2px solid black;
}

#boton-cerrar-portal {
    margin-left: 1em;
}

#boton-guardar-portal {
    margin-left: 1em;
}

#portal-viaje {
    text-align: center;
}

#mensaje-energia, #mensaje-anomalias {
    font-family: 'Orbitron',sans-serif;
}