@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron-Bold';
    src: url('../fonts/Orbitron-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Orbitron-Black';
    src: url('../fonts/Orbitron-Black.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'RussoOne';
    src: url('../fonts/RussoOne-Regular.ttf') format('truetype');
    font-style: normal;
}

body {
    background-color: #676564;
}

.menu-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    border: 2px solid black;
}

.reloj-temporal {
    text-align: center;
    font-family: 'Orbitron-Black',sans-serif;
}

.menu-personalizacion {
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
}

#boton-confgurar-portal {
    width: 15%;
    height: 10%;
}

#boton-confgurar-portal:hover {
    background-color: #cbc6c3;
}

#boton-portal {
    width: 15%;
    height: 10%;
    margin: 0.5%;
}

#boton-portal:hover {
    background-color: #cbc6c3;
}

.area-portales {
    display: flex;
    flex-wrap: wrap;
}

@keyframes portal {0% { transform: rotate(0); } 100% { transform: rotate(360deg);} }
@keyframes portal-fade {0% { opacity: 1; } 100% { opacity: 0;} }
@keyframes portal-pulsacion {0% { transform: scale(1); } 50% { transform: scale(1.1); } 100% { transform: scale(1);} }
@keyframes portal-rebote {from { transform: scale(1); transform-origin: center center; animation-timing-function: ease-out; } 10% { transform: scale(0.91); animation-timing-function: ease-in; } 17% { transform: scale(0.98); animation-timing-function: ease-out; } 33% { transform: scale(0.87); animation-timing-function: ease-in; } 45% { transform: scale(1); animation-timing-function: ease-out;} }


.portal {
    border-radius: 90%;
    height: 7em;
    width: 7em;
    margin:3em 1.5em;
    animation: portal 1s ease 0s 1 normal none;
    transition: width 0.3s ease, height 0.3s ease;
}

.panel-viajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    border: 2px solid black;
}

#titulo-portal {
    font-family: 'RussoOne',sans-serif;
}

#fecha-portal {
    font-family: 'Orbitron-Bold',sans-serif;
}

textarea {
    resize: none;
}

#boton-cerrar-portal {
    margin-left: 1em;
}

#boton-guardar-portal {
    margin-left: 1em;
}

#portal-viaje {
    text-align: center;
}