body {
    background-color: #676564;
}

.menu-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    border: 2px solid black;
}

.reloj-temporal {
    text-align: center;
}

#boton-portal {
    width: 15%;
    height: 10%
}

#boton-portal:hover {
    background-color: #cbc6c3;
}

.area-portales {
    display: flex;
    flex-wrap: wrap;
}

@keyframes portal {0% { transform: rotate(0); } 100% { transform: rotate(360deg);} }

.portal {
    border-radius: 90%;
    height: 7em;
    width: 7em;
    margin:3em 1.5em;
    animation: portal 1s ease 0s 1 normal none; 
    transition: width 0.3s ease, height 0.3s ease;
}

.portal:hover {
    width: 9em;
    height: 9em;
}

.panel-viajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    border: 2px solid black;
}

#portal-viaje {
    text-align: center;
}